IDB_ANT_0 BITMAP "resource\\r0.bmp"
IDB_ANT_1 BITMAP "resource\\r1.bmp"
IDB_ANT_2 BITMAP "resource\\r2.bmp"
IDB_ANT_3 BITMAP "resource\\r3.bmp"
IDB_ANT_4 BITMAP "resource\\r4.bmp"
IDB_TIM_0 BITMAP "resource\\t0.bmp"
IDB_TIM_1 BITMAP "resource\\t1.bmp"
IDB_TIM_2 BITMAP "resource\\t2.bmp"
IDB_TIM_3 BITMAP "resource\\t3.bmp"
IDB_TIM_4 BITMAP "resource\\t4.bmp"
IDB_BAR_0 BITMAP "resource\\b0.bmp"
IDB_BAR_1 BITMAP "resource\\b1.bmp"
IDB_BAR_2 BITMAP "resource\\b2.bmp"
IDB_BAR_3 BITMAP "resource\\b3.bmp"
IDB_BAR_4 BITMAP "resource\\b4.bmp"
IDB_NUM_0 BITMAP "resource\\n0.bmp"
IDB_NUM_1 BITMAP "resource\\n1.bmp"
IDB_NUM_2 BITMAP "resource\\n2.bmp"
IDB_NUM_3 BITMAP "resource\\n3.bmp"
IDB_NUM_4 BITMAP "resource\\n4.bmp"
IDB_BAR2_0 BITMAP "resource\\bb0.bmp"
IDB_BAR2_1 BITMAP "resource\\bb1.bmp"
IDB_BAR2_2 BITMAP "resource\\bb2.bmp"
IDB_BAR2_3 BITMAP "resource\\bb3.bmp"
IDB_BAR2_4 BITMAP "resource\\bb4.bmp"
