IDB_ANT_0 BITMAP "resource\\r0.bmp"
IDB_ANT_1 BITMAP "resource\\r1.bmp"
IDB_ANT_2 BITMAP "resource\\r2.bmp"
IDB_ANT_3 BITMAP "resource\\r3.bmp"
IDB_ANT_4 BITMAP "resource\\r4.bmp"
IDB_TIM_0 BITMAP "resource\\t0.bmp"
IDB_TIM_1 BITMAP "resource\\t1.bmp"
IDB_TIM_2 BITMAP "resource\\t2.bmp"
IDB_TIM_3 BITMAP "resource\\t3.bmp"
IDB_TIM_4 BITMAP "resource\\t4.bmp"
